body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

span {
    color: orange;
}

.skip {
    display: flex;
}

.about-me {
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: contain;
    margin-bottom: 10%;
}

.my {
    margin-bottom: 10%;
}

.youtube {
    display: flex;
    box-shadow: 10px 10px 40px gray;
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
    border-radius: 30px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 70%;
}

h1 {
    font-size: 50px;
    text-wrap: balance;
}

.margin {
    margin-bottom: 7%;
}

.skip {
    margin-top: 5%;
    margin-bottom: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    border-radius: 40px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

p {
    text-align: justify;
}

.half-width img {
    width: 100%;

}

.image img {
    width: 45%;
    margin-left: 25%;
}

.para {
    margin-right: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.am {
    color: gray;
    font-size: 35px;
}

.para-font {
    font-size: 15px;
    margin-bottom: 7%;
}

.align {
    margin-left: 5%;
}

.img-align {
    margin-right: 25%;
}

.title {
    display: flex;
}

.width {
    width: 50%;
    padding: 2%;
    border-radius: 30px;
}

.width img {
    width: 100%;
}

.food {
    margin-left: 5%;
    box-shadow: 2px 2px 20px gray;
}

.foodd {
    margin-left: 2%;
    margin-right: 5%;
    box-shadow: 2px 2px 20px gray;
}

.lorem {
    text-align: center;
}

h1 {
    font-size: 35px;
    margin-bottom: 2%;
}

.three-text {
    width: 100%;
}

.first-text {
    margin-left: 20%;
    margin-right: 2.5%;
}

.second-text {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.third-text {
    margin-left: 2.5%;
    margin-right: 10%;
}

footer {
    text-align: center;
    background-image: linear-gradient(black, rgb(11, 2, 27));
    color: gray;
    padding-top: 1%;
    padding-bottom: 8%;
}